<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FAQ - Horizon-Music</title>
    <link rel="stylesheet" href="static/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/external/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/external/css/smoothproducts.css">
    <link rel="shortcut icon" href="static/custom/img/Logo.ico">
    <link rel="bookmark" href="static/custom/img/Logo.ico">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">Horizon-Music</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">All Music</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mysonglist" style="color:red;">My Song List</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" style="color:orange;">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register" style="color:green;">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin" style="color:blue;">Administration</a></li>
                </ul>
                <form class="form-inline mt-3 mt-md-0" action="/results" method="post">
                <!--a input div to get user input-->
                <!--use post function-->
                <input class="form-control mr-sm-2" type="text" name="phrase" required="required"
                       placeholder="What would you like?"
                       aria-label="Search" {{disabled}}>
                <!--the submit button-->
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" {{ disabled }}>Start looking</button>
            </form>
            </div>
        </div>
    </nav>
    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">FAQ</h2>
                    <p>Reason to jump to this page: you may have encountered the following problems.</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">If you jump from Login Page:</h4>
                        <div class="answer">
                            <p>You may be an unregistered user.</p>
                            <a href="register">Go To Register</a>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">If you jump from "user_manage" Page:</h4>
                        <div class="answer">
                            <p>You may be not login an admin account.</p>
                            <a href="login">Go To Login</a>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">If you jump from "music_detail" Page:</h4>
                        <div class="answer">
                            <p>You may be not login an user account.</p>
                            <a href="login">Go To Login</a>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">If you jump from "add_music" Page:</h4>
                        <div class="answer">
                            <p>You may be not login an business account.</p>
                            <a href="login">Go To Login</a>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">If you jump from Other Page:</h4>
                        <div class="answer">
                            <p>Please tell us Email: hgc@qq.com</p>
                            <a href="/">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>

                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="company">Team Information</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>{{ account }}</h5>
                    <ul>
                        <li><a href="exit">{{ exit }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Horizon</p>
        </div>
    </footer>
    <script src="static/external/js/jquery.min.js"></script>
    <script src="static/external/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/external/js/smoothproducts.min.js"></script>
    <script src="static/external/js/theme.js"></script>
</body>
</html>